<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Azure Standard AngularJS Providers</title>
	</head>
	<body ng-app="AzureApp" ng-controller="AzureCtrl">
		<h1>Azure Standard AngularJS Providers</h1>

		<div ng-if="session.person">
			<p>Hello {{person.name}},</p>
			<div ng-if="favorites.length">
				<p>You have {{favorites.length}} favorites. They are:</p>
				<table>
					<thead>
						<th>Code</th>
						<th>Name</th>
						<th>Packaging</th>
					</thead>
					<tbody>
						<tr ng-repeat="product in favorites">
							<td>{{product.product.code}}</td>
							<td>{{product.product.name}}</td>
							<td>
								<select ng-if="product.products"
								        ng-options="prod.code as productPackagingLabel(prod) for prod in product.products"
								        ng-model="product.code"
								        ng-change="product.selectPackaging(product.code)" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-if="!session.person">
			<p>You're in an anonymous session.</p>
			<form ng-submit="login()" ng-controller="LoginCtrl">
				<input type="text" ng-model="credentials.username"
				       placeholder="username or email" /><br />
				<input type="password" ng-model="credentials.password"
				       placeholder="password" /><br />
				<input type="submit" value="Login" />
				<p ng-if="warning" class="warning">{{warning}}</p>
			</form>
		</div>

		<p ng-if="!carts.carts.length">You don't have any carts.</p>
		<div ng-if="carts.carts.length">
			<p>You have {{carts.carts.length}} carts. They are:</p>
			<table>
				<thead>
					<th>ID</th>
					<th>Drop</th>
					<th>Trip</th>
					<th>Lines</th>
					<th>Products</th>
					<th>Weight</th>
					<th>Price</th>
				</thead>
				<tbody>
					<tr ng-repeat="cart in carts.carts">
						<td>
							<button ng-click="carts.selectCart(cart.order.id)"
							        title="select as the primary cart">
								{{cart.order.id}}
							</button>
						</td>
						<td>{{cart.drop.name}}</td>
						<td>{{cart.trip.route}} - {{cart.trip.cutoff}}</td>
						<td>{{cart.orderLines.length}}</td>
						<td>{{cart.products}}</td>
						<td>{{cart.weight}}</td>
						<td>{{cart.price}}</td>
					</tr>
				</tbody>
			</table>
			<p>Your primary cart is {{carts.cart.order.id}}.</p>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
		<script src="azure-providers.js"></script>
		<script type="text/javascript">
			angular.module('AzureApp', ['azureProviders'])
				.controller(
					'AzureCtrl',
					['$rootScope', '$scope', 'AzureAPI', 'AzureCarts', 'AzureProduct',
					function($rootScope, $scope, AzureAPI, AzureCarts, AzureProduct) {
						$rootScope.setupPerson = function(person) {
							$scope.person = person;
							$scope.session = AzureAPI.session.get();
							$scope.carts = AzureCarts(person.id);
							$scope.favorites = [];
							AzureAPI.product.query(
								{person: person.id}
							).$promise.then(function(products) {
								products.forEach(function(product) {
									$scope.favorites.push(AzureProduct(product.code));
								});
							});
						};
						$scope.session = AzureAPI.session.get();
						$scope.session.$promise.then(function(session) {
							if (session.person) {
								AzureAPI.person.get().$promise.then(function(person) {
									$rootScope.setupPerson(person);
								});
							} /* else {
								TODO: anonymous carts
								$scope.carts = AzureCarts();
							} */
						});
						$scope.productPackagingLabel = function(product) {
							return product.code + ' (' + product.size + ', $' + product.price.dollars + ')';
						};
					}])
				.controller(
					'LoginCtrl',
					['$rootScope', '$scope', '$timeout', 'AzureAPI',
					function($rootScope, $scope, $timeout, AzureAPI) {
						$scope.credentials = {
							username: null,
							password: null,
						};
						$scope.warning = null;
						$scope.login = function() {
							$scope.warning = null;
							AzureAPI.login(
								$scope.credentials.username,
								$scope.credentials.password
							).success(function(data) {
								$rootScope.setupPerson(data);
							}).error(function(data, status) {
								$scope.warning = 'unable to authenticate';
								$timeout(function() {$scope.warning = null;}, 5000);
							});
						};
					}]);
		</script>
		<style>
			.warning {
				color: red;
			}
		</style>
	</body>
</html>
