<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Azure Standard AngularJS Providers</title>
	</head>
	<body ng-app="AzureApp" ng-controller="AzureCtrl">
		<h1>Azure Standard AngularJS Providers</h1>

		<div ng-if="session.person">
			<p>Hello {{person.name}},</p>
			<p>You have {{favorites.length}} favorites. They are:</p>
			<table>
				<thead>
					<th>Code</th>
					<th>Name</th>
				</thead>
				<tbody>
					<tr ng-repeat="product in favorites">
						<td>{{product.code}}</td>
						<td>{{product.name}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="!session.person">
			<p>You're in an anonymous session.</p>
			<button ng-click="login()">Login</botton>
		</div>

		<p>You have {{carts.carts.length}} carts. They are:</p>
		<table>
			<thead>
				<th>ID</th>
				<th>Drop</th>
				<th>Trip</th>
				<th>Lines</th>
				<th>Products</th>
				<th>Weight</th>
				<th>Price</th>
			</thead>
			<tbody>
				<tr ng-repeat="cart in carts.carts">
					<td>
						<button ng-click="carts.selectCart(cart.order.id)"
						        title="select as the primary cart">
							{{cart.order.id}}
						</button>
					</td>
					<td>{{cart.drop.name}}</td>
					<td>{{cart.trip.route}} - {{cart.trip.cutoff}}</td>
					<td>{{cart.orderLines.length}}</td>
					<td>{{cart.products}}</td>
					<td>{{cart.weight}}</td>
					<td>{{cart.price}}</td>
				</tr>
			</tbody>
		</table>
		<p>Your primary cart is {{carts.cart.order.id}}.</p>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
		<script src="azure-providers.js"></script>
		<script type="text/javascript">
			angular.module('AzureApp', ['azureProviders'])
				.controller(
					'AzureCtrl',
					['$scope', 'AzureAPI', 'AzureCarts',
					function($scope, AzureAPI, AzureCarts) {
						$scope.login = function() {
							$scope.person = AzureAPI.person.get();
							$scope.person.$promise.then(function(person) {
								$scope.session = AzureAPI.session.get();
								$scope.favorites = AzureAPI.product.query(
									{person: person.id});
								$scope.carts = AzureCarts(person.id);
							});
						};
						$scope.session = AzureAPI.session.get();
						$scope.session.$promise.then(function(session) {
							if (session.person) {
								$scope.login();
							} /* else {
								TODO: anonymous carts
								$scope.carts = AzureCarts();
							} */
						});
					}]);
		</script>
	</body>
</html>
