<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Azure Standard AngularJS Providers</title>
	</head>
	<body ng-app="AzureApp" ng-controller="AzureCtrl">
		<h1>Azure Standard AngularJS Providers</h1>

		<div ng-if="session.person">
			<p>Hello {{person.name}},</p>
			<button ng-click="logout()">Logout</button>
			<div ng-if="favoritesCount.count">
				<p>
					You have {{favoritesCount.count}} favorites.
				</p>
			</div>
		</div>
		<div ng-if="!session.person">
			<p>You're in an anonymous session.</p>
			<form ng-submit="login()" ng-controller="LoginCtrl">
				<input type="text" ng-model="credentials.username"
				       placeholder="username or email" /><br />
				<input type="password" ng-model="credentials.password"
				       placeholder="password" /><br />
				<input type="submit" value="Login" />
				<p ng-if="warning" class="warning">{{warning}}</p>
			</form>
		</div>


		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
		<script src="azure-providers.js"></script>
		<script type="text/javascript">
			angular.module('AzureApp', ['azureProviders'])
				.controller(
					'AzureCtrl',
					['$rootScope', '$scope', 'AzureAPI',
					function($rootScope, $scope, AzureAPI) {

						$rootScope.setupPerson = function(person) {
							$scope.person = person;
							//$scope.session = AzureAPI.session.get();
							$scope.favoritesCount = AzureAPI.product.count({
								'filter-person': person.id
							});
						};
						$scope.logout = function() {
							AzureAPI.logout();
							$scope.person = null;
							$scope.session = null;
							$scope.favoritesCount = null;
							$scope.favorites = null;
						};
						$scope.session = AzureAPI.session.get();
						$scope.session.$promise.then(function(session) {
							if (session.person) {
								AzureAPI.person.get().$promise.then(function(person) {
									$rootScope.setupPerson(person);
								});
							}
						});
					}])
				.controller(
					'LoginCtrl',
					['$rootScope', '$scope', '$timeout', 'AzureAPI',
					function($rootScope, $scope, $timeout, AzureAPI) {
						$scope.credentials = {
							username: null,
							password: null,
						};
						$scope.warning = null;
						$scope.login = function() {
							$scope.warning = null;
							AzureAPI.login({
								username: $scope.credentials.username,
								password: $scope.credentials.password
							}).then(function(response) {
								var session = response.data;
								var person = AzureAPI.person.get({id: session.person});
								person.$promise.then(function(person) {
									$rootScope.setupPerson(person);
								});
								person.$promise.catch(function(error) {
									$scope.warning = 'unable to get person ' + session.person;
									$timeout(function() {$scope.warning = null;}, 5000);
								});
							}).catch(function(response) {
								$scope.warning = 'unable to authenticate ' + response.status;
								$timeout(function() {$scope.warning = null;}, 5000);
							});
						};
					}]);
		</script>
		<style>
			.warning {
				color: red;
			}
			.btn {
				border-radius: 2px;
				background-color: #99f;
				padding-right: 0.5em;
				padding-left: 0.5em;
				cursor: pointer;
			}
			.btn:hover {
				background-color: #aaf;
			}
		</style>
	</body>
</html>
